<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>
<body>
    <h1>과제 </h1>
    <h3>MSA기반 플러터(Dart)활용<br>
        자바(JAVA)프론트엔드 백엔드 풀스택 웹(앱)개발</h3>
    
    <ul>
        <li>Spring Web</li>
        <li>Spring Boot DevTools</li>
        <li>lombok</li>
        <li>MySql</li>
        <li>Mybatis</li>
        <li>Thymeleaf</li>
    </ul>
    <a href="/board/list">게시판 으로 이동</a>
</body>
</html>