<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">

        <h1>게시글 등록</h1>
        <form action="/board/insert" id="write-board-form" method="post">
            <table>
                <tr class="line-tr">
                    <td class="board-title">
                        <input type="text" name="title" id="title" class="insert-input" placeholder="제목" required/>
                    </td>
                </tr>
                <tr class="line-tr">
                    <td class="board-title">
                        <input type="text" name="writer" id="writer" class="insert-input" placeholder="작성자" required/>
                    </td>
                </tr>
                <tr class="input-content">
                    <td class="board-content " >
                        <textarea class="insert-textarea" id="content" name="content" required></textarea>
                    </td>
                </tr>
            </table>
            <div class="btn-box">
                <button type="submit" class="btn">등록</button>
            </div>
        </form>
    </div>
</body>
</html>