<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>게시글 목록</h1>
        <a href="/board/insert" class="write-btn btn">글쓰기</a>
        <table border="1">
            <tr>
                <th width="60">번호</th>
                <th width="250">제목</th>
                <th width="80">작성자</th>
                <th width="130">등록일자</th>
                <th width="130">수정일자</th>
            </tr>
            <th:block th:if="${ !boardList.isEmpty() }" th:each="board : ${boardList}">
                <tr>
                    <td th:text="${board.no}"></td>
                    <td>
                        <a th:href="|/board/read/${board.no}|" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${ #dates.format( board.createdAt, 'yyyy-MM-dd' ) }"></td>
                    <td th:text="${ #dates.format( board.updatedAt, 'yyyy-MM-dd' ) }"></td>
                </tr>
            </th:block>
            <th:block th:if="${ boardList == null || boardList.isEmpty()}">
                <tr>
                   <td rowspan="5">게시물이 없습니다.</td> 
                </tr>
            </th:block>
        </table>
        <div class="paging">
    
            <th:block th:if="${page.total > 0}">
                <th:blcok th:if="${page.start > page.first}" class="arrow-box">
                    <!-- 처음 페이지 -->
                    <a th:href="|/board/list?page=${page.first}|" class="page-btn">
                        &lt;&lt;
                    </a>
                    <!-- 이전 페이지 -->
                    <a th:href="|/board/list?page=${page.prev}|" class="page-btn">
                        &lt;
                    </a>
                </th:blcok>
                
                <!-- 현재 페이지 -->
                <th:blcok th:each=" no : ${ #numbers.sequence( page.start , page.end ) }" >
                    <a th:href="|/board/list?page=${no}|" class="page-btn">
                        <th:block th:if="${page.page == no}">
                            <b th:text="${no}"></b>
                        </th:block>
                        <th:block th:if="${page.page != no}">
                            <span th:text="${no}"></span>
                        </th:block>
                    </a>
                </th:blcok>
                
                <th:blcok th:if="${page.last > page.end}" class="arrow-box">
                    <!-- 다음페이지 -->
                    <a th:href="|/board/list?page=${page.next}|" class="page-btn">
                        &gt;
                    </a>
                    <!-- 마지막 페이지 -->
                    <a th:href="|/board/list?page=${page.last}|" class="page-btn">
                        &gt;&gt;
                    </a>
                </th:blcok>
            </th:block>
        </div>
    </div>
</body>
</html>