*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
.page-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #000;
}
.paging {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
.arrow-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
.arrow-box a {
    background-color: #1a7dce;
    color: white;
}
.paging b {
    font-weight: bold;
    font-size: 16px;
}
.paging span {
    font-size: 14px;
}
.paging a:hover {
    scale: 1.1;
}
.container{
    padding: 40px;
    width: 700px;
    margin: 0 auto;
}
.btn{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a7dce;
    color: white;
    cursor: pointer;
    border: none;
}
tr{
    height: 40px;
}
td{
    padding: 5px 0;
    text-align: center;
}
input {
    padding: 5px;
    height: 40px;
    width: 620px;
}
textarea{
    width: 620px;
    height: 300px;
    padding: 5px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

tr.line-tr {
    display: grid;
    grid-template-columns: 130px auto;
    height: 40px;
    margin-bottom: 5px;
}
td.title {
    background-color: #ccc;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
td.content {
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 15px;
    height: 40px;
}

/* Update */
td.content.update {
    padding: 0;
}
.update-input {
    width: 520px
}
td.board-content {
    padding: 20px;
    border: 1px solid #000;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: start;
}
td.board-content.update {
    padding: 0;
    border: none;
}
.del-btn {
    background-color: #c41515;
}

/* insert */
.input-content td{
    width: 620px;
    padding: 0;
    border: none;
}